<%- include ('partials/header.ejs'); %>
    <title>Atividades</title>
    <link rel="stylesheet" href="/CSS/atividades.css">
<body>
    <%- include ('partials/navbar-admin.ejs'); %>

    <div class="container-fluid mt-5">
        <div class="mb-3">
          <form method = "POST" action="/exerciciosCreate">
            <div class="card">
                <h5 class="card-header">Atividade</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                        <div class="mSb-3">
                            <label for="editor" class="form-label">Enunciado</label>
                            <textarea id="editor" name="descricao" class="form-control"></textarea>
                            <!-- <input id="mathInput" type="text">
                            <label id="mathOutput"></label> -->
                          </div>

                            <label for="">Tipo de atividade</label> <br>
                            <select class="form-select" name="tipo_atividade" id="tipo_atividade" onchange="exibirCampos()">
                                <option value="0"></option>
                                <option value="1">Com prazo</option>
                                <option value="2">Sem prazo</option>
                            </select> <br>

                            <div class="hora">
                                <label for="">Data de Início</label> <br>
                                <input type="date" class="form-control" name="data_inicio"> <br>

                                <label for="">Data de entrega</label> <br>
                                <input type="date" class="form-control" name="data_fim"> <br>
                            </div>

                     <label for="">Conteudo relacionado</label> <br>
                               <select class="form-select" name ="id_conteudo">
                                <option  value=""></option>
                                <% resultado.forEach(result => { %>
                                    <option  value="<%= result.id %>"><%= result.titulo %></option>
                                    <% }) %>
                            </select>

                     <button class="btn btn-success mt-2" type="submit" >Enviar</button>
                    </div>
                </div>
        
            </div>

          </form>


          <form action="">
            <div class="card">
                <h5 class="card-header">Testar LaTeX</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                        <div class="mb-3">
                            <input id="mathInput" class="form-control" type="text" placeholder="$$\dfrac{3}{4}$$">
                            <label id="mathOutput" class="form-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
       
            <button class="btn btn-warning w-25 m-lg-3" style="border-radius: 10px;" onclick="renderMath()">Teste</button>
<!-- <button onclick="renderMath()">Botao</button> -->


<!-- 
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="card">
                            <form method = "POST" action="/exerciciosCreate">
                            <h5 class="card-header">Atividade</h5>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <label for="">Enunciado</label> <br>
                                <textarea id="editor" name="descricao" class="form-control"></textarea>
                                <label for="">Conteudo</label> <br>
                               <select class="form-select" name ="id_conteudo">
                                <option  value=""></option>
                               <% resultado.forEach(result => { %>
                               <option  value="<%= result.id %>"><%= result.titulo %></option>
                               <% }) %>
                            </select>
                    <input type="submit" class="button-submit" value="Enviar"> -->
                    <!-- <a href="./alternativas.ejs"><button class="button-submit">Alternativas</button></a> -->
                            <!-- </div>
                        </div>
                       
                    </div>
                </div>
            </main>
        </div>
        
    </div>
</form>

<form action="">
    <div class="card">
        <h5 class="card-header">Teste</h5>
        <div class="card-body">
            <h5 class="card-title"></h5>
                <div class="mb-3">
                    <input id="mathInput" class="form-control" type="text">
                    <label id="mathOutput" class="form-label"></label>
                </div>
            </div>
        </div>
    </div>
</form>

    <button class="btn btn-warning w-25 m-lg-3" style="border-radius: 10px;" onclick="renderMath()">Teste</button> -->


    <script src="https://cdn.tiny.cloud/1/tippdkxqm4sb1wehnj2bla645u5sztdojzln239n7b2sd27w/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
         tinymce.init({
      selector: '#editor',
      plugins: 'lists link image table code',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat | code',
      menubar: false,
      height: 300,
      skin: 'bootstrap',
      content_css: 'bootstrap',

    });

    function renderMath() {
      const input = document.getElementById("mathInput").value;
      const output = document.getElementById("mathOutput");
      output.innerHTML = `${input}`;
      MathJax.typeset();
    }

    function exibirCampos() {
        var tipoAtividade = document.getElementById("tipo_atividade").value;
        var camposHora = document.querySelector(".hora");

        if (tipoAtividade == "1") {
            camposHora.style.display = "block";
        } else {
            camposHora.style.display = "none";
        }
    }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="../JS/script.js"></script>
</body>

<%- include ('partials/footer.ejs'); %>