<%- include ('partials/header.ejs'); %>
<title>Avaliação</title>
<link rel="stylesheet" href="/CSS/exercicios.css">
<body>
    <%- include ('partials/navbar-admin.ejs'); %>

    <div class="titulo">
      <h1>
          Avaliação: <%= avaliacao.nome %>
      </h1>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Avaliação disponível</h5>
              <% if (exercicios.length === 0) { %>
                <p>Não há exercícios disponíveis no momento.</p>
              <% } %>
              <form method = "POST" action = "/enviarRespostas" >
                <input type="hidden" name="avaliacaoId" value="<%= avaliacao.id %>">
                <% exercicios.forEach((exercicio, index) => { %>
                  <div class="mb-4 p-3 border rounded">
                    <div style="display: flex; align-items: center; gap: 8px;">
                      <strong><%= index + 1 %>)</strong>
                      <div>
                        <%- exercicio.descricao %>
                      </div>
                    </div>
                    <% exercicio.alternativas.forEach(alt => { %>
                      <input type="radio" name="respostas[<%=exercicio.id%>]" value="<%=alt.id%>"> <%- alt.conteudo %> <br>
                    <% }) %>
                  </div>
                <% }) %>
                <% if (exercicios.length > 0) { %>
                  <div class="enviar">
                  <button type="submit" style="margin-top: 20px;" class="btn btn-primary" onclick="verificarRespostasAvaliacao(<%= avaliacao.id %>)" >Enviar avaliação</button>
                  </div>
                  <div id="resultado" style="margin-top: 20px;"></div>
                  <div id="totalCorretas" style="margin-top: 10px; font-weight: bold;">
                  <% if (typeof totalCorretas !== 'undefined') { %>
                    Número de respostas certas: <%= totalCorretas %> de <%= exercicios.length %>
                  <% } %>
                  </div>
                <% } %>
              </form>
            </div>
          </div>
        </div>
      </div>

    <script src="/JS/script.js"></script>
    <script  defer id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
<%- include ('partials/footer.ejs'); %>