<%- include ('partials/header.ejs'); %> 
<link rel="stylesheet" href="/CSS/cadAvaliacao.css">
<body onload="">
    <%- include ('partials/navbar-admin.ejs'); %>
    <div class="container-fluid mt-5">
        <div class="mb-3">
          <form method = "POST" action="/avaliacaoCriar">
            <div class="card">
                <h5 class="card-header">Cadastro de Avaliação</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                        <label for="">Título</label> <br>
                        <input class="form-control" name="nome"  type="text"> <br>
                        <div class="hora">
                                <div id="labels_data">
                                    <label for="">Data de início</label> <br>
                                    <input type="date" class="form-control" name="data_inicio"> <br>

                                    <label for="">Data de término</label> <br>
                                    <input type="date" class="form-control" name="data_fim"> <br>
                                </div>
                        </div>
                        
                     <button class="btn btn-success mt-2" type="submit" >Enviar</button>
                    </div>
                </div>
        
            </div>
            
        <div class="card">
            <h5 class="card-header">Seleção de turmas</h5>
            <div class="card-body">
                <h5 class="card-title">Selecione as turmas que receberão a avaliação</h5>
                <div class="list-group">
                   <% if (turmas.length > 0) { %>
                    <% turmas.forEach(turma => { %>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="turma-<%= turma.id %>" name="turmas[]" value="<%= turma.id %>">
                            <label class="form-check-label" for="turma-<%= turma.id %>">
                                <%- turma.nome %>
                            </label>
                        </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>

        </div>

        <div class="card">
          <h5 class="card-header">Seleção de exercícios</h5>
          <div class="card-body">
              <h5 class="card-title">Filtrar por categoria</h5>
              <div>
                  <select id="id_categoria" class="form-select select_width" name="id_categoria" form="avaliacaoForm">
                        <option value="" selected></option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.nome %></option>
                        <% }) %>
                  </select>
                <button type="button" class="btn btn-primary mt-2" onclick="filtrarExercicios()">Filtrar</button>
              </div>
              <div class="list-group mt-5">
                 <% if (exercicios.length > 0) { %>
                  <% exercicios.forEach(exercicio => { %>
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="exercicio-<%= exercicio.id %>" name="exercicios[]" value="<%= exercicio.id %>">
                          <label class="form-check-label" for="exercicio-<%= exercicio.id %>">
                              <%- exercicio.descricao %>
                          </label>
                      </div>
                  <% }) %>
                 <% } %>
              </div>
          </div>
        </div>
        </form>
    </div>
<!-- <button onclick="renderMath()">Botao</button> -->

<script src="https://cdn.tiny.cloud/1/tippdkxqm4sb1wehnj2bla645u5sztdojzln239n7b2sd27w/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#editor',
      plugins: 'lists link image table code',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat | code',
      menubar: false,
      height: 300,
      skin: 'bootstrap',
      content_css: 'bootstrap',

    });

    function renderMath() {
      const input = document.getElementById("mathInput").value;
      const output = document.getElementById("mathOutput");
      output.innerHTML = `${input}`;
      MathJax.typeset();
    }

    // function renderMath() {
    //   const input = document.getElementById("mathInput").value;
    //         const output = document.getElementById("mathOutput");
    //         output.innerHTML = $$${input}$$;
    // }

    function filtrarExercicios() {
        const categoriaId = document.getElementById('id_categoria').value;
        window.location.href = `/buscarExerciciosPorCategoria?id_categoria=${categoriaId}`;
    }
   
</script>
  <script src="/JS/script.js"></script>
</body>
<%- include ('partials/footer.ejs'); %>