<%- include ('partials/header.ejs'); %>
    <title>Categorias - MATFRJ</title>
    <link rel="stylesheet" href="/CSS/categorias.css">
<body>
    <%- include ('partials/navbar-admin.ejs'); %>
    <div class="container">
        <h1 class="text-center my-4">Gerenciador de Categorias</h1>
        <div class="row">
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <form method = "POST" action="/categoriasCriar">
                        <div class="card">
                            <h5 class="card-header">Criar Categoria</h5>
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <input type="text" class="form-control m-2" name="nome"  placeholder="Digite a categoria a ser criada">
                               
                                <button class="btn btn-success" type="submit">Criar</button>
                            </div>
                        </div>

                    </form>

                        <div class="card mt-5">
                            <h5 class="card-header">Categorias</h5>
                            <div class="card-body">
                                <ul class="list-group">
                                    <!-- cada categoria é um li -->
                                    <% categorias.forEach(result => { %>
                                        <li class="cargo list-group-item d-flex justify-content-between align-items-center mt-2"> <%= result.nome %>
                                            <div>
                                                <a href="/editar-categoria/<%= result.id%>" > <button class="btn-func btn btn-warning" >Editar</button></a>
                                                <button data-id="<%= result.id%>" id="removeCategoria"  class="btn-func btn btn-danger">Deletar</button>
                                            </div>
                                        </li> 
                                        <% }) %>
                                    
                            
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </main>
        </div>
    </div>

<script src="https://cdn.tiny.cloud/1/tippdkxqm4sb1wehnj2bla645u5sztdojzln239n7b2sd27w/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>

document.querySelectorAll("#removeCategoria").forEach(button => {
        button.addEventListener('click', function() {
            const categoriaId = this.getAttribute('data-id');
            
            fetch(`http://localhost:8070/categoriasDeletar/${categoriaId}`, {
                method: 'DELETE',
            }).then(response => {
    if (response.redirected) {
        // Se o redirecionamento acontecer, você pode usar:
        window.location.href = response.url;
    }
})
.catch(error => {
    console.error('Erro:', error);
});
        })
            
    });


    tinymce.init({
      selector: '#editor',
      plugins: 'lists link image table code',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat | code',
      menubar: false,
      height: 300,
      skin: 'bootstrap',
      content_css: 'bootstrap'
    });

</script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script> -->
    <script src="/JS/script.js"></script>
</body>

<%- include ('partials/footer.ejs'); %>