<%- include ('partials/header.ejs'); %>
    <title>Perfil - MATIFRJ</title>
    <link rel="stylesheet" href="/CSS/perfil.css">
<body>
    <%- include ('partials/navbar-aluno.ejs'); %>
            <main class="content px-3 py-2">
                
                    <div class="container">

                        <div class="card profile-card">
                            <form action="/editarAluno/<%= user.id %>" method="POST">
                            <div class="card-body text-center">
                                <!-- <div class="profile-image mb-3">
                                    <img id="foto" src="default.jpg" alt="Foto do perfil" class="rounded-circle img-fluid">
                                    <input type="file" id="fileInput" disabled>
                                    <button class="btn btn-outline-secondary mt-2" onclick="document.getElementById('fileInput').click();" id="editPhotoButton" disabled>Alterar Foto</button>
                                </div> -->
                                <div class="profile-info">
                                    <div class="textfield">
                                        <label for="nome">Nome:</label>
                                        <input type="text" class="form-control" name="name" id="name" value=" <%= user.username %>" > 
                                    </div>
                                    
                                    <div class="textfield form-floating">
                                        <select class="form-select" id="select" name="turma" required>
                                            <% turma.forEach(turma => { %>
                                                <option value="<%= turma.id %>"><%= turma.nome %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    
                                    <button class="btn btn-primary" type="submit" id="saveButton">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
             
            </main>
    <!-- JavaScript -->
    <!-- <script src="/JS/perfil.js"></script> -->
    <script src="/JS/script.js"></script>
</body>

<%- include ('partials/footer.ejs'); %>