<%- include ('partials/header.ejs'); %>
    <title>MATIFRJ</title>
    <link rel="stylesheet" href="/CSS/index.css">
<body>
    <%- include ('partials/navbar-aluno.ejs'); %>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3 main-logo row">
                        <h2 class="menor row-sm-6">Seja bem vindo ao</h2>
                        <h1 class="maior row-sm-6">MATIFRJ</h1>
                        
                    </div>
                    <div class="botoes row">
                        <a class="anos col-sm-4" href="/Bimestres-aluno/1">PRIMEIRO ANO</a>
                        <a class="anos col-sm-4" href="/Bimestres-aluno/2">SEGUNDO ANO</a>
                        <a class="anos col-sm-4" href="/Bimestres-aluno/3">TERCEIRO ANO</a>
                    </div>
                        
                    <div class="div-avisos row justify-content-center mt-3">
                        <% avisos.forEach(aviso => { %>
                            <div class="aviso col-md-4">
                                <div class="card altura">
                                    <div class="card-body d-flex flex-column justify-content-end">
                                        <h5 class="card-title">
                                            <strong>
                                                <%= aviso.titulo %>
                                                <i class="bi bi-envelope-exclamation float-end "></i>
                                            </strong>
                                        </h5>
                                        <blockquote>
                                            <p class="card-text"><%- aviso.descricao %></p>
                                        </blockquote>
                                        <cite class="float-end">~<%= aviso.criador_nome %></cite>
                                        <div class="data-fim mt-auto text-end">
                                            <small>Válido até <%= new Date(aviso.data_fim).toLocaleDateString('pt-BR') %></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script> -->
    <script src="/JS/script.js"></script>
</body>

<%- include ('partials/footer.ejs'); %>