<%- include ('partials/header.ejs'); %>
<title>Resultados da Avaliação <%= avaliacao.nome %></title>
<link rel="stylesheet" href="/CSS/exercicios.css"> <!-- Mudar -->
<body>
    <%- include ('partials/navbar-admin.ejs'); %>

    <div class="titulo">
      <h1>
          Avaliação: <%= avaliacao.nome %>
      </h1>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Resultados</h5>
              <table class="table">
                <caption>

                </caption>
                <thead>
                    <th>Nome</th>
                    <% exercicios.forEach(res => { %>
                      <th><%- res.descricao %></th>
                    <% }) %>
                    <th>Acertos</th>
                </thead>
                <tbody>
                  <% resultados.forEach(res => { %>
                    <tr>
                      <td><%= res.user_nome %></td>
                      <% res.respostas.forEach((alt) => { %>
                        <td><%= alt.alternativa_conteudo %></td>
                      <% }) %>
                      <td><%= res.acertos %></td>
                    </tr>
                  <% }) %>
                  <tr>
                    <td>Gabarito</td>
                    <% exercicios.forEach(res => { %>
                      <% const correta = res.alternativas.find(a => a.correta); %>
                      <td><%= correta ? correta.conteudo : 'N/A' %></td>
                    <% }) %>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    <script src="/JS/script.js"></script>
    <script  defer id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
<%- include ('partials/footer.ejs'); %>